html,
body {
    height          : 100%;
    min-height      : 100%;
    scroll-behavior: smooth;
}

body {
    background: rgba(0, 0, 0, 0.5) url("src/forest.jpg");
    background-size: 80%;
    background-repeat: repeat-x;
    background-blend-mode: darken;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif
}

.w3-row-padding img {
    margin-bottom: 100px
}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
    width: 120px;
    background: #222;
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
    margin-left: 120px
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
}

div {
    box-sizing: border-box;
}

ul {
    list-style-type : none;
    margin          : 0;
    padding         : 0;
    overflow        : hidden;
    border-bottom: white;
}

li {
    float: right;
    display: inline;
}

li a {
    display        : block;
    color          : white;
    text-align     : center;
    padding        : 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}

li a:hover {
    background-color: transparent;
    /*transition      : background-color 0.5s ease-in-out;*/
    /*background-color: #6e6658;*/
}

footer {
    position: absolute;

    top  : 1000px;
    right: 100px;
}

.textbox {
    padding: 1rem;
}

.card {
    background-color: rgb(50, 50, 50);
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    position: relative;
    white-space: normal;
}

.card-body {
    position: absolute;
    text-color: white;
    text-align: center;
    bottom: 5%;
    left: 0;
    right: 0;
}

.card-text {
    color: white;
}

.card-title {
    color: white;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.dot {
}

.dot1 {
    position          : absolute;
    top               : -25px;
    /* -child size/2 */
    left              : 75px;
    /* parent size/2 - child size/2 */
    width             : 50px;
    height            : 50px;
    transform         : rotate(0deg);
    transition        : transform 0.7s linear;
    object-fit        : contain;
}


.dot2 {
    position     : absolute;
    top          : 175px;
    /* parent size/2 - child size/2 */
    left         : 75px;
    /* -child size/2 */
    width        : 50px;
    height       : 50px;
    transform    : rotate(0deg);
    transition   : transform 0.7s linear;
    border-radius: 30%;

}

.dot3 {
    position     : absolute;
    top          : 75px;
    left         : 175px;
    width        : 50px;
    height       : 50px;
    transform    : rotate(0deg);
    transition   : transform 0.7s linear;
    border-radius: 30%;

}

.dot4 {
    position     : absolute;
    top          : 75px;
    /* -child size/2 */
    left         : -25px;
    /* parent size/2 - child size/2 */
    width        : 50px;
    height       : 50px;
    transform    : rotate(0deg);
    transition   : transform 0.7s linear;
    border-radius: 30%;

}

.dot5 {
    position     : absolute;
    top          : 0px;
    left         : 0px;
    width        : 50px;
    height       : 50px;
    transform    : rotate(0deg);
    transition   : transform 0.7s linear;
    border-radius: 30%;

}

.dot6 {
    position     : absolute;
    top          : 0px;
    left         : 150px;
    width        : 50px;
    height       : 50px;
    transform    : rotate(0deg);
    transition   : transform 0.7s linear;
    border-radius: 30%;

}

.dot7 {
    position     : absolute;
    top          : 150px;
    left         : 0px;
    width        : 50px;
    height       : 50px;
    transform    : rotate(0deg);
    transition   : transform 0.7s linear;
    border-radius: 30%;

}

.dot8 {
    position     : absolute;
    top          : 150px;
    left         : 150px;
    width        : 50px;
    height       : 50px;
    transform    : rotate(0deg);
    transition   : transform 0.7s linear;
    border-radius: 30%;

}

.dot1:hover,
.dot2:hover,
.dot3:hover,
.dot4:hover,
.dot5:hover,
.dot6:hover,
.dot7:hover,
.dot8:hover {
    transform: scale(1.2);
}

.sun {
    width   : 200px;
    height  : 200px;
    position: relative;

    background   : rgb(50, 50, 50);
    border-radius: 50%;

    transform : rotate(0deg);
    transition: transform 0.7s linear;
    top       : 120px;
    margin    : auto
}

.sunInside {
    width   : 180px;
    height  : 180px;
    position: inherit; 

    background   : rgb(0, 0, 0);
    border-radius: 50%;

    transition: transform 0.7s linear;
    top       : 10px;
    margin    : auto
}


.rotated {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition   : all 0.5s ease-in-out;
    -o-transition     : all 0.5s ease-in-out;
    transition        : all 0.5s ease-in-out;

    transform        : rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform   : rotate(360deg);
    -o-transform     : rotate(360deg);
}

#Text1,
#Text2,
#Text3,
#Text4,
#Text5,
#Text6,
#Text7,
#Text8 {
    position: absolute;
    top     : 50px;
    width   : 90%;
    display : none;
}

.project1 {
    position          : absolute;
    top               : -25px;
    /* -child size/2 */
    left              : 75px;
    /* parent size/2 - child size/2 */
    width             : 50px;
    height            : 50px;
    transform         : rotate(0deg);
    transition        : transform 0.7s linear;
    /*background-image:url('potato.jpg');*/
    object-fit        : contain;
}

.project2 {
    position     : absolute;
    top          : 175px;
    /* parent size/2 - child size/2 */
    left         : 75px;
    /* -child size/2 */
    width        : 50px;
    height       : 50px;
    transform    : rotate(0deg);
    transition   : transform 0.7s linear;
    border-radius: 30%;

}

.project3 {
    position     : absolute;
    top          : 75px;
    left         : 175px;
    width        : 50px;
    height       : 50px;
    transform    : rotate(0deg);
    transition   : transform 0.7s linear;
    background   : rgb(255, 255, 255);
    border-radius: 30%;

}

.project4 {
    position     : absolute;
    top          : 75px;
    /* -child size/2 */
    left         : -25px;
    /* parent size/2 - child size/2 */
    width        : 50px;
    height       : 50px;
    transform    : rotate(0deg);
    transition   : transform 0.7s linear;
    background   : rgb(128, 74, 214);
    border-radius: 30%;

}

.project5 {
    position     : absolute;
    top          : 0px;
    left         : 0px;
    width        : 50px;
    height       : 50px;
    transform    : rotate(0deg);
    transition   : transform 0.7s linear;
    background   : rgb(0, 128, 68);
    border-radius: 30%;

}

.project6 {
    position     : absolute;
    top          : 0px;
    left         : 150px;
    width        : 50px;
    height       : 50px;
    transform    : rotate(0deg);
    transition   : transform 0.7s linear;
    background   : rgb(139, 139, 139);
    border-radius: 30%;

}

.project7 {
    position     : absolute;
    top          : 150px;
    left         : 0px;
    width        : 50px;
    height       : 50px;
    transform    : rotate(0deg);
    transition   : transform 0.7s linear;
    background   : rgb(0, 255, 170);
    border-radius: 30%;

}

.project8 {
    position     : absolute;
    top          : 150px;
    left         : 150px;
    width        : 50px;
    height       : 50px;
    transform    : rotate(0deg);
    transition   : transform 0.7s linear;
    background   : rgb(204, 96, 96);
    border-radius: 30%;

}

.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover,
.project5:hover,
.project6:hover,
.project7:hover,
.project8:hover {
    transform: scale(1.2);
}

.classProjectWheel {
    width   : 200px;
    height  : 200px;
    position: relative;

    background   : rgb(37, 37, 36);
    border-radius: 50%;

    transform : rotate(0deg);
    transition: transform 0.7s linear;
    top       : 100px;
    left      : 100px;
}

button{
    z-index: 101;
}

@keyframes pulse {
    from {
        transform: translateY(0px);
        opacity  : 1;
    }

    50% {
        transform: scale(0.75);
    }

    to {
        transform: translateY(-50px);
        transform: scale(1);
    }
}